################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentContext/.vs/PaymentContext/v16/Server/sqlite3/storage.ide-wal
/PaymentContext/.vs/PaymentContext/v16/Server/sqlite3/storage.ide-shm
/PaymentContext/.vs/PaymentContext/v16/Server/sqlite3/storage.ide
/PaymentContext/.vs/PaymentContext/v16/Server/sqlite3/db.lock
